/* fonts */

@font-face {
    font-family: 'roboto';
    src: url(./fonts/Roboto-Regular.ttf);
}

/* body section */

body {
    margin: 30px 40px;
    font-family: 'roboto';
}

/* bio or contact section */

.name-style {
    font-size: 60px;
    font-weight: bold;
    color: #707070;
    text-transform: uppercase;
}

.description {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.address {
    color: #707070;
}

.bio-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* about section */
.about-section {
    display: flex;
    align-items: center;
    gap: 40px;
}

.about-title {
    font-size: 40px;
    font-weight: bold;
    color: #707070;
    text-transform: uppercase;
}

.about-description {
    font-size: 18px;
    color: #707070;
}


/* what i do section */

.do-title {
    font-size: 40px;
    margin-top: 30px;
    font-weight: bold;
    color: #707070;
    text-transform: uppercase;
}

.card-content {
    display: flex;
    justify-content: space-around;
}

.card-style {
    width: 300px;
    border: 1px;
    padding: 20px;
    border-style: solid;
    border-color: #ddd;
    border-radius: 20px;
}